# =========================
# VSCode
# =========================
.vscode/
.history/

# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# =========================
# Flask
# =========================
instance/
.webassets-cache/

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# HTML files
# =========================
*.html

# =========================
# Archive folder
# =========================
arhive/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
*.pid
*.seed
*.out