# ================== TARGET ==================
TARGET_URL=https://example.com
MODE=google_smartphone

# ================== ANTIBOT =================
# Заголовок, который добавляется в запросы (anti-bot token)
ANTIBOT_HEADER_NAME=x-custom-token
ANTIBOT_HEADER_VALUE=CHANGE_MEss